.btn1 {
    background-image: linear-gradient(hsl(176, 55%, 52%), hsl(198, 60%, 50%));
    width: 140px;
    height: 40px;
    color: white;
    font-weight: 400;
    margin: 25px;
    border-radius: 25px;
}