.title {
    border-radius: 10px;
    background-color: hsl(217, 32%, 13%);
    width: 70%;
    max-width: 1440px;
    margin: auto;
    text-align: center;
    padding: 20px;
}
.mail{
    margin-top: 15px;
    width: 70%;
    max-width: 1440px;
    text-align: auto;
    border-radius: 20px;
    height: 45px;
    float:left;
}
.info{
    text-align: left;
    color: red;
    margin-left: 35px;
    font-size: 10px;
}
.wrapper p {
    margin: 20px;
}

.click {
    display: flex;
    justify-content: space-around;
}