.head {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
}

.body {
    font-weight: 00;
    text-align: center;
    margin-top: 50px;
    font-size: 27px;
}

.wrapper {
    display: block;
margin: auto;
    width: 50%;
    text-align: center;
}

