.size {
    width: 30%;
    background-color: hsl(219, 30%, 18%);
    box-shadow: 5px 8px hsl(219, 32%, 14%);
    padding: 20px;
    border-radius: 5px;
    margin: 5px;
    color: rgb(198, 195, 195);
}

.rest {
    display: flex;
    align-items: center;
    color: white;
    padding-bottom: 10px;
}

.focia {
    border-radius: 50px;
    width: 7%;
}
.description {
    margin-left: 10px;
}

.ops {
    padding-bottom: 30px;
}