.all {
    margin: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 10px;
    left: 50px;
}

.obiekt {
    position: absolute;
    top: -35px;
    left: 15px;
    z-index: -1;
}